* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.bg-purple {
  background-color: purple;
}

.text-white {
  color: white;
}

.bg-green,
.bg-red,
.bg-purple {
  padding: 1%;
}

.card-margin {
  margin: 2%;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
  background-color: #3e3d3d;
  color: white;
  width: 100%;
}

header nav {
  width: 25%;
}

.logo {
  width: 20%;
}

header ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 10%;
}

footer {
  text-align: center;
  color: white;
  background-color: #3e3d3d;
  padding: 5%;
  font-size: 2rem;
}

.card {
  width: 48%;
}
